.fb{
    background-color: rgb(58, 58, 193);
}
.twt{
    background-color: aquamarine;
}
.wpp{
    background-color: rgb(25, 162, 25);
}
.mail{
    background-color: darkred;
}
.print{
    background-color: gray;
}